h1 {
    font-family: "Courier New", Courier, monospace;
    background-color: #fcf4f6;
    color: #44161d;
}
body {
    font-family: "Courier New", Courier, monospace;
    background-color: #fcf4f6;
}